
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    
}
.headima{
    border-color: #f6ae39 !important;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: sticky;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.nav-item {
    list-style: none;
}

.nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #d93025;
    font-weight: 600;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    color: #73130c;
}
.frtbook{
    font-weight: normal;
}
.cta-btn {

    background-color:#d93025!important;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-color: #f6ae39 !important;
    transition: .3s;
    min-height: 48px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.15;
    border: 2px solid;
    border-radius: .5rem;
    padding: .5rem 1.375rem;
    text-align: center;
    letter-spacing: .07em;
    text-transform: uppercase;
    text-decoration: none !important;
    cursor: pointer;
}

.cta-btn:hover {
    background-color:#d93025;
}


@media (max-width: 991px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cta-btn {
        width: 50%;
        margin-top: 10px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color:#73130c;
    text-transform: uppercase;
    font-family: Metropolis, sans-serif;
    font-size: 1rem;
    


}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1131px;
    }
}

.gapbox {
    width: 100%;
    height: 50px;
}

.box1 {
    height: 520px;
    display: flex;
    gap: 4% !important;
    position: relative;
}

.box2 {
    height: 520px;
}

.mainrow {
    justify-content: space-between;
    align-items: flex-end;
}

.box1 {
    display: flex;
    align-items: center;
}

.Softwarebox {
    display: flex;
  
}

.Software {

    color: #73130c;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.16;
    letter-spacing: .02em;
    font-family: Metropolis, sans-serif;
    text-transform: uppercase;

}

.softpara {

    font-size: 18px !important;
    color: #73130c;
}


.btn-primary1 {
    color: #fff !important;
    border-color: #f6ae39 !important;
    background-color:#d93025;
    transition: .3s;
    min-height: 48px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.15;
    border: 2px solid;
    border-radius: .5rem;
    padding: .5rem 1.375rem;
    text-align: center;
    letter-spacing: .07em;
    text-transform: uppercase;
    text-decoration: none !important;
    cursor: pointer;
    display: flex;
    gap: 5%;
}

@media (max-width: 639px) {
    .m-hero__content-button {
        width: 100%;
        margin-top: 1.5rem;

    }
}

@media (max-width: 639px) {
    .Software {
        max-width: none;
        line-height: 1.02;
        text-align: center !important;
        margin: 0 auto 8px;
        padding: 0;
        font-size: 40px;
    }

    .softpara {
        text-align: center;
    }
}

.m-hero__image-image {
    width: 92%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
}




img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

.secrow {
    background-color: #fafbff;
}

.scebox {
    /* background-color: #0056b3; */
    height: 120px;
    display: flex;
    padding: 10px;
    gap: 3%;
}

.scebox1 {
    /* background-color: #d2e0ee; */
    height: 120px;
    display: flex;
    padding: 10px;
    gap: 3%;
    justify-content: flex-end;
}

.secin1 {
    height: 100px;
    background-color: white;
    color: #73130c;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

.secin2 {
    height: 100px;
    background-color: white;
    color: #73130c;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;

}

.secin3 {
    height: 100px;
    background-color: white;
    color: #73130c;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

.sc6 {
    font-size: 30px !important;
}

.imagrat {
    /* height: 100px; */
    align-items: end;
    justify-content: end;
    display: flex;
   
}



/* @keyframes scroll {
    10% {
        transform: translate3d(1, 1, 1);
    }

    100% {
        transform: translate3d(-2450.0px, 0, 0);
    }
}

.slide-track {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(280px * 2);
}

.slider {
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fafbff;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 180px;
    align-items: center;
    justify-content: center;
    display: flex;
} */


.OurServices {
    color: #73130c !important;
    font-weight: bold;
    font-family: Metropolis, sans-serif;


}

.ourbox {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.servibox {
    height: 550px;
    /* background-color: #0056b3; */
    display: flex;
    flex-direction: column;
    gap: 2%;
    border-radius: 20px;
}

.servibox1 {
    height: 550px;
    /* background-color: #547ba4; */
}
.our1add{
    width: 20%;
    /* background-color: #031339; */
}

.our1 {
    width: 100%;
    flex: 1;
    background-color: #d93025 !important;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    /* justify-content: center */
}

.our2 {
    width: 100%;
    flex: 1;
    background-color: #f3f6fe;
    border-radius: 10px;
    display: flex;
    /* gap: 5%; */
    align-items: center;
    /* justify-content: flex-start; */
}

.our3 {
    width: 100%;

    flex: 1;
    background-color: #f3f6fe;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.our4 {
    width: 100%;
    flex: 1;
    background-color: #f3f6fe;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.our5 {
    width: 100%;
    flex: 1;
    background-color: #f3f6fe;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.serico {
    font-size: 45px;
    color: #4A90E2;
    display: flex !important;
    align-items: center !important;
    
    /* justify-content: center !important; */
}

.our1head{
   text-transform: uppercase;
   font-family: Metropolis, sans-serif;
   font-weight: 700;
   color: white;
   display: flex;
   text-align: center;
   align-items: center !important;
   justify-content: center !important;

}
.our1add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacticon{
    color: #73130c;
    font-size: 37px;
}
.contaicon1{
    color: #73130c;
    font-size: 37px;
}
.staffbox{
    display: flex;
    align-items: center;
}
.our2add{
    width: 20%;
    /* background-color: #9aa2b4; */
    color: #73130c;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
} 
.our2head{
    text-transform: uppercase;
   font-family: Metropolis, sans-serif;
   font-weight: 700;
   color: #73130c;
   display: flex;

    align-items: center;
}
.itcon{
    display: flex;
    align-items: center;

}
.harapara{
    font-size: large;
    color: #73130c;
    font-family: Metropolis, sans-serif;

}
.itstaffli{
    font-size: large;
    color: #73130c;
    text-transform: uppercase;
    font-size: 700;
    letter-spacing: .06em;
    min-height: 0;
    font-family: Metropolis, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}
.itstafflipara{
    font-size: .875rem;
    margin-bottom: 0;
    line-height: 1.5;
    display: flex;
    gap: 2px;
    color: #73130c;
    font-family: Metropolis, sans-serif;

}
.itsibox{
    width: 100%;
    height: 100px;
    /* background-color: red; */
}
.teakmstaf{
    text-transform: uppercase;
    color: #73130c;
    display: flex;
    gap: 2px;
    font-family: Metropolis, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
  
}
.teamparast{
    font-size: .905rem;
    margin-bottom: 0;
    line-height: 1.5;
    display: flex;
    gap: 2px;
    color: #73130c;
    font-family: Metropolis, sans-serif;
}
.teacstafbox{
    width: 100%;
    height: 90px;
}
.ctohaet{
    text-transform: uppercase;
    color: #73130c;
    display: flex;
    gap: 2px;
    font-family: Metropolis, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
.ctoparaser{
    font-size: .905rem;
    margin-bottom: 0;
    line-height: 1.5;
    display: flex;
    gap: 2px;
    color: #73130c;
    font-family: Metropolis, sans-serif;
margin: 1px;
}
.Readybox{
    width: 100%;
    height: 250px;
    /* background-color: #0056b3; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}
.scencontai{
    background-color: #e9ecef;
    margin-top: 10px;
}
.secempi{
    width: 100%;
    height: 70px;
    background-color: white;
}
.readypara{
    min-height: 0;
    font-family: Metropolis, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #73130c;
}
.pararead{
    text-align: left !important;
    font-size: 16px;
    /* letter-spacing: 1px; */
    color: #73130c;
}
.getbut{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary1 {
    color: #fff !important;
    border-color: #f6ae39 !important;
    background-color: #d93025!important;
}
.readybox44{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.getbut44{
    width: 100%;
    height: 150px;
  
}




.slide1{
    width: 70px;
}


.abt-main{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(2, 2, 58); */
    background-color: #d93025!important;
}

.row555{
    height: 100vh;
    width: 100%;
    
}
.abt-left{
    background-color: #d93025!important;
}
.abt-right{
    background-color: #d93025!important;
}
.abt-left-head{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    H2{
    color: white;

    }
}
.abt-left-boxes-1{
    height: 170px;
    width: 100%;
    
    display: flex;
    gap: 20px;
   
}
.abt-left-box-1{
    height: 170px;
    width: 49%;
    border: 10px; 
    background-color: #d93025!important;
    border: 2PX solid#ff594d!important;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;

    h3{
        color: orange;
        margin-left: 10px;
    }
    p{
        color: white;
        margin-left: 10px;
        
    }
    
}
.abt-left-box-2{
    height: 170px;
    width: 49%;
    border-radius: 15px;
    background-color: #d93025!important;
    border: 2PX solid #ff594d!important;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    h3{
        color: orange;
        margin-left: 10px;
    }
    p{
        color: white;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
}
.abt-left-boxes-2{
    height: 170px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    border: 20px;
}
.abt-left-boxes-3{
    height: 170px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    border: 20px;
}
.abt-right-box-1{
    height: 170px;
    width: 100%;
    display: flex;
    background-color: #d93025!important;
    border: 2PX solid #ff594d!important;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.abt-right-box-1-icon{
    width: 20%;
    display: flex;
    justify-content: center;
}
.abt-rt-i{
    height: 60px;
    margin-top: 10px;
    width: 60%;
    background-color: #ff594d;
    border-radius: 10px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.abt-right-box-1-content{
    width: 80%;

    h3{
        color: white;
        margin-left: 5px;
    }
    p{
        color: white;
        margin-left: 5px;
    }
}
.abt-right-box-2{
    height: 170px;
    width: 100%;
    display: flex;
    background-color: #d93025!important;
    border: 2PX solid #ff594d!important;
    border-radius: 15px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}




/* 
.testimonal {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.testname {
    font-family: Metropolis, sans-serif;
    font-weight: bold;
}

.videobox {
    width: 48%;
    height: 310px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videobox1 {
    width: 50%;
    height: 310px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoboxmain {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.videobox4, .videobox5 {
    width: 100%;
    height: 280px;
    border-radius: 20px;
    background-color: rgba(99, 97, 97, 0.77);
    opacity: 0.5;
}

.videobuto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #243663 !important;
    position: absolute;
    top: 35%;
    left: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: none;
    color: #fbcc23;
}

.play-icon {
    font-size: 24px;
}

.videima1 {
    position: relative;
    bottom: 34%;
    right: 37%;
} */

/* .Arthur, .lan {
    position: relative;

    text-align: center;
    font-weight: bold;
    font-family: Metropolis, sans-serif;
    color: #ffffff;
    bottom: 48%;
    right: 14%;
}

.arthiuamal, .ceo {
    font-size: 13px;
   
    color: #ffffff;
} */









   



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 3rem; 
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #1a1d26;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-description {
    font-size: 1.2rem;
    color: #6c757d;
    margin-top: 10px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7;
    font-weight: 300;
    text-align: center;
}

.case-large {
    position: relative;
}

.case-image-large {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
}

.case-details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img_content{
   display: flex;
    flex-direction: column;
    gap: 5px;
    
   
    
}
.case-tags .badge {
    border: 1px solid #fbcc23 !important;
    color: #73130c;
    padding: .125rem .6875rem;
    font-size: 0.9rem;
    border-radius: 8px;
    margin-right: 8px;
    border: 1px solid;
}
.case-tags .badge:hover {
    color: #fbcc23;
    border-color: #73130c !important;
}
.heading_h3 {
    font-size: 1.5rem; 
    font-weight: 700;
    margin-top: 15px;
}
.second_heading {
    height: 40px;
    width: 100%;
    background-color: #fff;
}
.view-more-link {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
}

.view-more-link:hover {
    text-decoration: underline;
}

.view-more-link span {
    font-size: 1.2rem;
}

.case-small {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid gray;
}

.case-small:hover {
    transform: scale(1.01) translateY(-5px) rotateX(5deg);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.case-small .case-image {
    border-radius: 8px;
}

.case-title {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1b2e47;
    text-transform: capitalize;
}

.case-small .view-more-link {
    font-size: 0.95rem;
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    text-align: right;
}
.case-small {
    position: relative;
}

.case-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: auto;
}
.img_des {
    height: 29px;
    width: 100%;
    background-color: #fff;
    margin: 10px;
}
h5 {
    font-size: 1.125rem;
    letter-spacing: .06em;
    color: #031339;
    min-height: 0;
    font-family: Metropolis, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
.img_btn1 {
    min-height: 1.5rem;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: .03em;
    border-radius: .25rem;
    padding: .125rem .375rem;
    margin: 2px;
    border:1px solid #fab011;
    background-color: white;
    color: #73130c;
}
.img_btn1:hover {
   color: #fab011   ;
   border-color: #73130c;
   background-color: white;
}
.btn-cta {
    background-color: #e2b309;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 700;
}

.btn-cta:hover {
    background-color: #fab011;
    transition: 0.3s;
    color: #fab011;
}



.container {
    max-width: 1200px;
    margin: auto;
}


/* .tech-title {
    letter-spacing: 2px;
    color:black;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
}

.tech-intro {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}


.tech-nav {
    padding: 20px 20px;
    border-bottom: 2px solid transparent;
    color:black;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none !important;
}

.tech-nav:hover,
.tech-nav.active {
    border-color: #007bff;
    color: #007bff;
}


.tech-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

.tech-card:hover {
    transform: translateY(-10px);
}

.tech-heading {
    font-size: 1.75rem;
    margin-bottom: 15px;
    color: #1a1a1a;
    text-transform: uppercase;
}

.tech-desc, .tech-subheading {
    font-size: 1.1rem;
    color: #555;
}

.tech-list {
    list-style: none;
    padding-left: 0;
}

.tech-list li {
    margin-bottom: 10px;
} */

/* .btn-custom {
    background-color: #ff9800;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #e68a00;
}

.tech-icons-section {
    gap: 20px;
}

.tech-icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:transparent;
    border-radius: 10px;
    padding: 20px;
   
    transition: transform 0.3s ease;
}

.tech-icon-card img {
    width: 70px;
    height: auto;
    margin-bottom: 15px;
    filter: grayscale(100%);
}
.tech-icon-card img:hover{
    filter: grayscale(1%);
}
.tech-icon-card a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.tech-icon-card:hover {
    transform: translateY(-10px);
   
}

.why-choose-us {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

.choose-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.choose-card:hover {
    transform: translateY(-10px);
}

.choose-card img {
    width: 70px;
    height: auto;
    margin-bottom: 20px;
}

.choose-card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #1a1a1a;
}

.choose-card p {
    font-size: 1rem; */
    /* color: #666;
} */
/* .contact {
    height: 300px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.contact_left {
    height: 100%;
    width: 50%;
    background-color: #fff;
    padding: 20px;
}

.contact_right {
    height: 100%;
    width: 50%;
    background-color: #fff;
    padding: 20px;
}

.contact_h2 {
    color: #031339;
    font-weight: 700;
}

.contact_button {
    height: 40px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.contact_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
}

.contact_btn:hover {
    background-color: #e0e0e0;
}

.contact_p {
    font-size: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 23px;
    font-weight: 800;
    color: #031339;
    display: flex;
    align-items: center;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
} */


















.contact-form {
    background-color: #d93025!important; /* Lighter navy */
    padding: 20px;
    border-radius: 10px;
    width:100%;
    height: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 48%;
    padding: 10px;
    border: 1px solid #fab011;
    border-radius: 5px;
    background-color: white; /* Input field color */
    color: #ffffff;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

button {
    background-color: #FFA62B; /* Bright orange */
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF8C00;
}

p {
    color: #73130c;
    font-size: 14px;
    margin-bottom: 10px;
}

p a {
    color: #73130c;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.privacy {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}
.button-div{
    display: flex;

    button{
        width: 50%;
    }
    p{
        margin-left: 30px;
    }
}










@media (max-width: 768px) {
    .section-title {
        font-size: 2.5rem; 
    }
    .section-description {
        font-size: 1rem;
    }
}
@media (max-width: 576px) {
    .section-title {
        font-size: 2rem; 
    }
    .section-description {
        font-size: 0.9rem;
    }
    .case-title {
        font-size: 1rem; 
    }
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    .imagrat {
        /* position: relative;
        bottom: 254%;
        right: 19%;
        width: 60%; */
        display: none;
    }

    .box1 {
        height: 350px;
    }
    .scebox1{
        position: absolute;
        top: 270%;
    }
    .slider{
        height: 114px;
    }
    .our1{
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .our2{
        display: none;
    }
    .our3{
        display: none;
    }
    .our4{
        display: none;
    }
    .our5{
        display: none;
    }
    .servibox{
        height: 100px;
       
    }
    .ourbox{
        height: 100px;
    }
    .ctohaet{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .ctoparaser{
margin-bottom: 20px;
    }
    .readypara{
        text-align: center !important;
        font-weight: bold;
        font-size: 34px;
        
    }
    .secempi{
        display: none;
    }
    .servibox1{
        height: 450px;
    }
    .getbut44{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        

    }
    .getbut{
        height: 70px;
    }
    .pararead{
       margin-top: 5px;
        text-align: center !important;
    }
    .videobox{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* overflow-x: hidden; */
        border-radius: 10px;
        
    }
    .videoboxmain{
        /* width: 99%; */
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        /* overflow-x: hidden; */
    }
   
    .Arthur, .lan{
position: relative;
right: 5%;

    }
    .menumaintop{
     color: #124fe6;
    border-radius: .5rem;
    background-color: #fff;
   font-size: medium;
    gap: .5rem;
    padding: 0 .9375rem;
    cursor: pointer;






    height: 2.75rem;
    width: 7.625rem;

    border-radius: .5rem;
    background-color: #fff;
    /* border: 1px solid #124fe6; */
    gap: .5rem;
    padding: 0 .9375rem;
    cursor: pointer;
    }
    .Navbar-toggler-icon{
        color: #0056b3;
    }
    .navbar-toggler{
        border: 2px solid #124fe6;
        border-radius: 5px;
    }
  
    
   
}





@media screen and (min-width: 0px) and (max-width: 480px) {
    .abt-main{
        height: 1500px;
    }

    .abt-right-box-1{
        height: 230px;
    }
    .abt-right-box-2{
        height: 230px;
    }
}
@media screen and (min-width: 0px) and (max-width: 480px){
    .button-div{
        
        display: block;

        button{
            width: 100%;
        }
    }

}



@media (min-width: 1200px) {
    .contact {
        height: 300px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .contact {
        flex-direction: column;
        height: auto;
    }

    .contact_left, 
    .contact_right {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .contact {
        flex-direction: column;
        height: auto;
    }

    .contact_h2 {
        font-size: 24px;
        text-align: center;
    }

    .contact_p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }

    .contact_button {
        justify-content: center;
        margin-top: 10px;
        
    }

    .contact_btn {
        width: 35px;
        height: 35px;
    }

    li {
        font-size: 20px;
        margin: 10px 0;
    }

    /* img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    } */
}








body {
    font-family: Arial, sans-serif;
    /* background-color: #0B1637; */
    /* color: #d51111; */
}

footer {
    background-color: #d93025;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex-basis: 18%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4{
        color: #73130c !important;
    }
    h4:hover{
        color: orange;
        text-decoration: underline;
    
}
}
 

.footer-section h2, 
.footer-section h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fab011;
}

.footer-section a {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: #73130c;
    text-decoration: none;
}

.footer-section a:hover {
    color: #FFA62B; 
}

.footer-section p {
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-section .highlight {
    color: #73130c;
}

.contact p img {
    margin-right: 10px;
    vertical-align: middle;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-section {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }
    .videima1{
        display: none;
    }
}
